body {
    width:100vw;
    margin:0;
}
body p {
    font-family: expo-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: expo-serif-pro, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2em;
}
h2 {
    font-family: expo-serif-pro, serif;
    font-weight: 400;
    font-style: italic;
}

/* header all pages */
.header {
    width:100vw;
    height: 25%;
    background-color: #FFFF;
    margin-bottom: -.1em;
}
.header img {
    object-fit: cover;
}

.header-menu {
    display:flex;
    background-color: #FFFF;
    font-size: 1.5em;
    justify-content: space-evenly;
    margin-bottom: .3em;
}
.header-menu a {
    text-decoration: none;
    color:#000;
}
.header-menu a:hover {
    background-color: #FFFF;
    text-decoration: underline;
    color: #D6D6D6;
}
.header-menu a:active {
    background-color: #FFFF;
}

.menu-underline {
    text-decoration: underline;
}

/* header end */



/* SLIDER / CAROUSEL*/
.blogPosts {
    position:relative;
    overflow:hidden;
    margin: 1em 2em 1em 2em;
    border-radius: .5em;
}
#ulCards {
    overflow: scroll;
    list-style: none;
    display:flex;
    width:100%;
    margin:auto;
    padding:0;
    scroll-behavior: smooth;
}
.listCard {
    width:100%;
    flex: 1 0 100%;
    background-color: #FFFF;
}
.listCard img {
    display: block;
    margin:auto;
    width:99%;
}
.listCard a {
    text-decoration: none;
    font-size: 1.7em;
    text-align: center;
    color: #000;
}
.indexPostTitle {
    margin-top: .5em;
    margin-bottom: .5em;
}
.arrowButtons {
    position:absolute;
    display:flex;
    top:0;
    bottom:0;
    margin:auto;
    height: 1em;
    width: 1em;
    background-color:#FFFF;
    font-size: 2em;
    border:none;
    padding:0;
    cursor:pointer;
    opacity:0.5;
    justify-content: center;
    align-items: center;
}

.arrowButtons:hover, .arrowButtons:focus {
    opacity:1;
}

#carouselNext {
    right:0;

}

#carouselPrev {
    left:0;
}

/* SLIDER / CAROUSEL END */




/*index page */
.index-body, .about-body {
    display:flex;
    flex-direction: column;
}
.index-background {
    background-image: url("../images/index-background.jpg");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top:5%;
}
.index-latest {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    padding-top: 1em;
    border-radius: .5em;
}
.index-h2 {
    text-align: center;
    text-decoration: underline;
}
.index-blank1 {
    width:100%;
    height: 30vh;
}
.index-intro {
    background-color: #FFFF;
}
.index-h1 {
    margin:.5em;
}
.index-p1, .index-p2, .index-p3, .index-p4 {
    margin:.5em;
    padding-top: 1.5em;
}
.index-p3, .index-p4 {
    padding-bottom: 1.5em;
}
.post img {
    width: 10em;
    object-fit: contain;
}
/* index page end */





/* Contact */
#contact-menu {
    padding-bottom: 1em;
}
.contact-background {
    background-image: url("../images/contact-image.jpg");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index:-1;
    top:20%;
}
.form-error {
    display: none;
    font-size:1.2em;
    color: #FD3737;
}
.contact-container {
    margin-left: .5em;
    margin-right: .5em;
}
.input {
    border-radius: 1.1em;
    padding:.8em;
    margin-top: 1em;
    height: 2em;
    border-width: 0;
    font-family: expo-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}
#textarea {
    width:70vw;
    height:15vh;
    border-width: 0;
}
.submitbutton {
    margin-top: 1em;
    border-radius: 1.1em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: expo-serif-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 2em;
    background-color: #FFB34B;
    border: none;
    color: #FFFF;
}

/* Contact end */



/* post page */
.detailsH1 {
    text-align: center;
}
.specificPost{
    padding-left: 1em;
    padding-right: 1em;
}
#modalBackground {
    position:fixed;
    display:none;
    top: 0;
    left: 0;
    background-color: rgb(228,228,288,0.9);
    margin:auto;
    width:100vw;
    height: 100vh;
    align-items:center;
    justify-content: center;
}

#modalImage img {
    display: block;
    width:22em;
    margin:auto;
    opacity: 1;
}

#openModalImage img{
    display: block;
    width: 15em;
    object-fit: contain;
    margin: auto;
}
/* post page end */




/* Blogs page */

.blogs-body {
    background-color: #FFFF;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.blogs-body h1 {
    text-align: center;
}
.tenBlogPosts, .nextTenPosts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.tenBlogPosts a, .nextTenPosts a {
    text-decoration: none;
}
.blogs-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 10em;
    height:17em;
    background-color: #ECEDEB;
    padding: .5em;
    border-radius: .5em;
    margin:auto;
}
.blogs-post img {
    width: 100%;
    object-fit: contain;
}
.blogs-post-image img {
    border-radius: .5em;
}
.postTitle {
    color:#000;
    margin: auto;
}

.nextTenPosts {
    display:none;
}

.viewMoreButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#viewMoreButton {
    border:none;
    text-decoration: none;
    border-radius: 10%;
    background-color: #FFFF;
    font-family: expo-serif-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2em;
    padding: .5em 1em .5em 1em;
}

#viewMoreButton:hover {
    text-decoration: underline;
}
.blogs-background {
    background-image: url("../images/posts-image.jpg");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index:-1;
    top:0;
}

/* Blogs page end */




/* About page */
.about-body {
    background-color: #FFF;
}

.about-lorem {
    margin:.5em;
    margin-right: .5em;
}

.about-background {
    background-image: url("../images/about-image.jpg");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
}
.about-blank-1, .about-blank-2, .about-blank-3 {
    width:100;
}
.about-blank-1 {
    height:40vh;
}
.about-blank-2 {
    height: 30vh;
}
.about-blank-3 {
    height: 35vh;
}


/* About page end */




/* MEDIA QUERIES */




/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* carousel */
    .index-latest {
        width:90vw;
        margin:auto;
        max-height: 40vh;
    }
    .index-latest h2 {
        margin-bottom: 1em;
    }
    .blogPosts {
        position:relative;
        overflow:hidden;
        /*margin: 1em 2em 1em 2em;*/
        margin:auto;
        border-radius: .5em;
        width:75vw;
        height:50vh;
    }
    #ulCards {
        overflow: scroll;
        list-style: none;
        display:flex;
        width:80vw;
        margin:auto;
        padding:0;
        scroll-behavior: smooth;
    }
    .listCard {
        width:50vw;
        flex: 1 1 20vw;
        margin-right: 4.8vw;
        /*padding-left: 1em;*/
        padding: 0 1em 0 1em;
    }
    .blogCard {
        width:30vw;
        flex: 1 1 30vw;
    }
    .listCard img {
        display: block;
        margin:auto;
        width:99%;
    }
    /* carousel end */
   /*index page*/
    .index-intro-background {
        height:20em;
    }
   /* Posts page */
   .blogs-post {
    width: 45vw;
    height:60vh;
}
    .postTitle {
        font-size: 2em;
    }
    .viewMoreButtonDiv {
        font-size: 2em;
    }
/* Desktop size*/




/* MEDIA QUERIES END */
}